<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bank Account Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @UserDetails.each do |user_detail| %>
      <tr>
        <td><%= user_detail.name %></td>
        <td><%= user_detail.email %></td>
        <td><%= user_detail.bank_account_number %></td>
        <td><%= link_to 'Show', user_path(user_detail) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
